<!-- used to recursively build tree -->
<script type="text/ng-template" id="tree-renderer.html">
  <span ng-click="term.show = !term.show"
        ng-class="term.show ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right';"
        ng-show="hasChildren(term)"
        aria-hidden="true"
        accordion close-others="true"></span> 
  <span class="glyphicon glyphicon-minus"
        ng-hide="hasChildren(term)"
        aria-hidden="true"
        accordion close-others="true"></span> 
  <span ng-click="display_detail(term)" >{{term.label}}</span>
  <ul ng-show="term.show" ng-init="showChildren(term)">
    <li ng-repeat="term in term.children" ng-include="'tree-renderer.html'"></li>
  </ul>
</script>
<!-- main container for page -->
<div class="container">
  <div id="retrievalTermsContainer">
    <div class=" panel panel-primary">
      <div class="panel-body">
        <div class='row' ng-hide='searchHidden'>
          <div class='col-xs-8' >
            <h4>MDC Tree</h4>
            <div id="retrievalTree" class="well well-sm tree">
              <ul>
                <li ng-hide="areTermsEmpty(retrievalTerms)">Loading...</li>
                <li ng-repeat="term in retrievalTerms" ng-include="'tree-renderer.html'"   ></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>