<div class="title_page">{{title}}</div> 
<div class="container" id="results_tab">
    <h2 class="text-center" ng-hide="headers || recentPubs || reports || datasets || pubs || software || extraContent">Loading...</h2>
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">
<div id="scrollArea" ng-controller="headerCtrl">
 <div ng-repeat="header in headers track by $index">
    <div ng-show="header.items.length > 0">
        <ul id="noBullet">
              <a  class = "anchor_menu" href="" ng-click="gotoAnchor($index)">{{header.title}}</a>
        </ul>
    </div>
</div>
        </div>
</div> 
<div class="divTableCell">
    <div id="headers" ng-show='headers.length > 0' ng-cloak>
                <div ng-repeat="header in headers track by $index">
                    <div ng-show="header.items.length > 0">
                        <hr class="type">
                        <div class="information_type" id="anchor{{$index}}">{{header.title}}</div>
                        <hr class="type">
                        <div class='lists'>
                            <ul id="noBullet">
                                <li ng-repeat="item in header.items">
                                    <div class="article_title"> {{item.index}}.  {{item.pubTitle}}</div>
                                    <div class="article_detail">PMID: {{item.pmid}} {{item.journal}}. {{item.published}}. Funded by: {{item.idLabel}} ({{item.grantTitle}}).</div>
                                    <a class="glyphicon glyphicon-link" ng-href="{{item.linkout}}"></a>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>